@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

title {
    color: aliceblue;
}

p {
    font-size: 55px;
}

.page {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8EA8C3;
    height: 450px;
    background-image: url(/static/images/background.jpeg);
    background-size: cover;
}

.vl {
    margin: auto 0;
    border-left: 2px solid #DAC99F;
    height: 150px;
}

.profile-card {
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: #3E505B;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
    border-radius: 5px;
}

.profile-image {
    padding: 25px 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 25px;
}

#profile-name {
    color: bisque;
    font-size: 48px;
    text-align: center;

}

#profile-role {
    list-style-type: none;
    color: bisque;
    font-size: 18px;
    text-align: center;
}

.socials-links {
    display: flex;
    justify-content: space-evenly;
}

.socials-button {
    padding: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #B89869;
}

.socials-button img {
    height: 100%;
    width: 100%;
}

.content-row {
    display: flex;
}

.content-side {
    flex: 25%; /* Set the width of the sidebar */
    background-color: #3E505B; /* Grey background color */
    padding: 20px; /* Some padding */
}

.personal-info-card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffe4c4;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
}

.about-row {
    display: flex;
    justify-content: space-between;
}

.about-row-title {
    font-weight: 500;
}

.skills-card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffe4c4;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
}

.skill-item {
    display: flex;
    flex-direction: column;
}

.skill-box-section {
    display: flex;
    flex-wrap: wrap;
}

.skill-box {
    padding: 2px 4px;
    margin: 5px;
    border-radius: 5px;
    background-color: #B89869;
    font-size: 16px;
}

.card-item-heading {
    font-size: 24px;
}

.card-item-subheading {
    color: #394B56;
    font-size: 18px;
}

.card-item-content {
    margin-top: 10px;
    font-size: 16px;
}

.education-card {
    padding: 20px;
    border-radius: 5px;
    background-color: #ffe4c4;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
}

.education-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.content-main { 
    flex: 75%;
    background-color: #3E505B;
    padding: 20px 20px 20px 0;
}

.personal-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
    background-color: #ffe4c4;
}

#personal-card-heading {
    font-size: 32px;
    margin-bottom: 5px;
}

#personal-card-subheading {
    font-size: 20px;
    margin-bottom: 10px;
}

.content-card-heading {
    font-size: 28px;
    text-decoration: underline;
}

.content-card-subheading {
    font-size: 20px;
}

.content-card-body {
    font-size: 16px;
}

.experience-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 6.2px 12.3px 12.3px hsl(0deg 0% 0% / 0.31);
    background-color: #ffe4c4;
}   

.experience-item {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.experience-heading {
    font-size: 24px;
}

.experience-subheading {
    font-size: 18px;
}

.experience-content {
    margin-top: 10px;
    font-size: 18px;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    width: 100vw;
    background-color: #3E505B;
}

/* Style the navigation bar links */
.navbar a {
    float: right; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: bisque; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    margin: 0 10px;
    text-decoration: none; /* Remove underline */
    
}

/* Change color on hover/mouse-over */
.navbar a:hover {
     /* Grey background color */
    color: white; 
    border-radius: 5px;
    text-decoration: underline;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    
}
  




